$maincolor: #ff0000;

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: all 500ms;
}
.red {
    color: $maincolor;
}

.customAlert {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.customAlertYellow {
    @extend .customAlert;
    background: #ffe591;
}

.customAlert p {
    margin-bottom: 0;
}